sudo: required
language: python
python:
  - "3.6"
addons:
  apt:
    packages:
      - expect
services:
  - docker
install:
  - pip install -r requirements.txt
after_install:
  - ansible-playbook build/build.yml
script:
  - ./tests/lifecycle.sh
