- name: make sure docker connection is configured
  assert:
    that: "{{ hostvars[item].ansible_connection == 'docker' }}"
    msg: test playground hosts must have ansible_connection=docker
  loop: "{{ query('inventory_hostnames', test_playground_hosts) }}"

- name: enforce test playground container state
  docker_container:
    image: "{{ item.test_playground_image|d(test_playground_image) }}:
            {{- item.test_playground_tag|d(test_playground_tag) }}"
    name: "{{ item.inventory_hostname }}"
    privileged: true
    state: "{{ item.test_playground_state|d(test_playground_state) }}"
    volumes: /sys/fs/cgroup:/sys/fs/cgroup:ro
    tmpfs:
      - /run
      - /run/lock
      - /tmp
  loop: "{{
    query('inventory_hostnames', test_playground_hosts)|
    map('extract', hostvars)|list
  }}"
